<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Link Shortener</title>
    <link rel="icon" type="image/x-icon" href="./static/favicon.png" />
    <link rel="stylesheet" href="./static/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Your Link has been shortened!</h1>
      <p>Original Link: {{ request.form.subject }}</p>
      <p>
        Shortened Link: <a href="{{ shortened_url }}">{{ shortened_url }}</a>
      </p>
    </div>
  </body>
</html>
